#diensten-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto auto auto auto auto;
  grid-template-areas: "menu"
                       "slideshow"
                       "diensten"
                       "offerte"
                       "map"
                       "footer";
}

#menu {
	grid-area: menu;
	padding-right: 23px;
}

#slideshow {
	grid-area: slideshow;
}

#diensten {
	grid-area: diensten;
	
}

#hamburger>a{
	font-size: 40px;
}

#offerte {
	grid-area: offerte;
}

#map {
	grid-area: map;
}

#footer {
	grid-area: footer;
}

#menu>a{
	font-size: 25px;
}

