	#diensten {
		display: grid;
		grid-gap: 18px;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-template-areas: "txt" 
		                     "tabs";
		
		margin-left: 10%;
		margin-right: 10%;
	}

	#txt-diensten {
		grid-area: txt;
		font-size: 26px;
		margin-top: 5%;
	}

	#tabs-diensten {
		grid-area: tabs;
	}

	.tablink {
		background-color: black;
		color: white;
		float: left;
		border: none;
		cursor: pointer;
		font-size: 15px;
		width: 32%;
		padding: 12px;
		margin: 7px;
	}

	.tablink:hover {
		background-color: darkgray;
	}

	.tabcontent {
		background-color: white;
		color: black;
		display: none;
		padding: 100px 5px;
		height: 100%;
		margin-top: 20px;
		}