#dienstendb-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px auto auto;
  grid-template-areas: "menu"
	                     "dienstendb"
                       "offerte"
                       "footer";
}

#menu {
	grid-area: menu;
}

#offerte {
	grid-area: offerte;
}

#footer {
	grid-area: footer;
}

#dienstendb {
	grid-area: dienstendb;
}

@media only screen and (min-width: 600px)
{
	#diensten-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "menu"
                       "offerte"
                       "footer"; 
}

}