#diensten-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "menu"
                       "slideshow"
                       "diensten"
                       "offerte"
                       "map"
                       "footer";
}

#menu {
	grid-area: menu;
}

#slideshow {
	grid-area: slideshow;
}

#diensten {
	grid-area: diensten;
	
}

#offerte {
	grid-area: offerte;
}

#map {
	grid-area: map;
}

#footer {
	grid-area: footer;
}

@media only screen and (min-width: 600px)
{
	#diensten-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "menu"
                       "slideshow"
                       "diensten"
                       "offerte"
                       "map"
                       "footer"; 
}

}