#dienstendb-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 34px auto auto;
  grid-template-areas: "menu"
	                     "dienstendb"
                       "footer";
}

#menu {
	grid-area: menu;
	display: none;
}

#hamburger{
	display: block;
}

#footer {
	grid-area: footer;
}

#dienstendb {
	grid-area: dienstendb;
}

