#header {
  padding-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

#head {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

#header>p {
  font-size: 50px;
  letter-spacing: 3px;
	color: black;
  position: absolute;
  left: 0;
  top: 33%;
  width: 100%;
  text-align: center;
  background-color: #edeff2;
  opacity: 0.7;
}