#home-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 0px auto auto auto auto auto auto;
  grid-template-areas: "menu menu menu menu"
                       "header header header header"
                       "werk werk werk werk"
                       "waarom waarom waarom waarom"
                       "offerte offerte offerte offerte"
                       "map map map map"
                       "footer footer footer footer"; 
}

#menu {
	grid-area: menu;
}

#header {
	grid-area: header;
}

#werk {
	grid-area: werk;
}

#waarom {
	grid-area: waarom;
}

#offerte {
	grid-area: offerte;
}

#map {
	grid-area: map;
}

#footer {
	grid-area: footer;
}