#txt-jobs {
	font-size: 26px;
  margin-top: 5%;
}

#jobs {
	margin-left: 5%;
	margin-right: 5%;
}

#txt-jobs hr {
  opacity: 0.7;
}

#cv {
	margin-bottom: 5%;
	
}

#info-jobs {
	margin-bottom: 3%;
}
.w3-container{
		margin-bottom: 18px;
	}

@media only screen and (min-width: 600px)
{
	#jobs {
		margin-left: 2%;
		margin-right: 2%;
	}
	
	.w3-container{
		margin-bottom: 20px;
	}
}