#jobs-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 34px auto auto auto;
  grid-template-areas: "menu"
                       "jobs"
                       "map"
                       "footer"; 
}

#menu {
	grid-area: menu;
}

#jobs {
	grid-area: jobs;
}

#map {
	grid-area: map;
}

#footer {
	grid-area: footer;
}

.input {
  width: 100%;
  font-size: 18px;
  border: 1px solid darkgray;
  padding: 12px;
  margin-bottom: 8px;
}

.input-button  {
  font-size: 18px;
  padding: 12px;
  margin-bottom: 50px;
  background-color: black;
  border: none;
}

.input-button:hover {
  background-color: darkgray;
}

.input-button a {
  text-decoration: none;
  color: white;
}

.input-button a:hover {
  color: black;
}