#offerte {
  display: block;
  grid-gap: 16px;
  grid-template-columns: auto;
	grid-template-rows: auto auto auto;
  grid-template-areas: "txt"
                       "voor"
                       "input";
  
  margin-left: 5%;
  margin-right: 5%;
}

#txt-offerte {
  grid-area: txt;
  font-size: 26px;
  margin-top: 5%;
}

#info-offerte {
  grid-area: voor;
  font-size: 16px;
	margin-bottom: 15px;
}

#offerte-input {
  grid-area: input;
	margin-bottom: 15px;
}

.input {
  width: 100%;
  font-size: 18px;
  padding: 12px;
  margin-bottom: 8px;
}

.input-button  {
  font-size: 18px;
	color: white;
  margin-bottom: 50px;
  background-color: black;
  border: none;
	display: inline-block;
  padding: 12px;
	text-decoration: none;
}

.input-button:hover {
  color: black;
	display: inline-block;
	background-color: darkgray;
}

#txt-offerte hr {
  opacity: 0.8;
}

@media only screen and (min-width: 600px)
{
	#offerte {
  display: block;
  grid-gap: 16px;
  grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto;
  grid-template-areas: "txt txt txt txt"
                       "voor voor voor voor"
                       "input input input input";
  
  margin-left: 2%;
  margin-right: 2%;
}

}