#waarom {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto;
  grid-template-areas: "txt txt txt txt"
                       "waarom waarom waarom waarom"
                       "medewerker1 medewerker2 medewerker3 medewerker4";
  
  margin-left: 10%;
  margin-right: 10%;
}

#txt-waarom {
  grid-area: txt;
  font-size: 26px;
  margin-top: 5%;
}

#info-waarom {
  grid-area: waarom;
}

#medewerker1 {
  grid-area: medewerker1;
}

#medewerker2 {
  grid-area: medewerker2;
}

#medewerker3 {
  grid-area: medewerker3;
}

#medewerker4 {
  grid-area: medewerker4;
}

#txt-waarom p {
  font-size: 26px;
}

#txt-waarom hr {
  opacity: 0.2;
}
  
#info-waarom p {
  margin-top: 0px;
  font-size: 16px;
}

#info-waarom h3 {
  margin-bottom: 30px;
}

.werk-img {
  width: 100%;
}

.medewerker h1 {
  font-size: 26px;
}

.medewerker h2 {
  font-size: 15px;
  color: grey;
  font-weight: normal;
}

.medewerker p {
  font-size: 16px;
}

.werk-knop a {
  display: inline-block;
  background-color: #edeff2;
  text-decoration: none;
  color: black;
  padding: 11px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.werk-knop a:hover {
  background-color: #adafb2;
}