#werk {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: auto auto auto auto;
	grid-template-rows: 140px 200px 200px;
  grid-template-areas: "txt txt txt txt"
                       "foto1 foto2 foto3 foto4"
                       "foto5 foto6 foto7 foto8";
  
  margin-left: 10%;
  margin-right: 10%;
}

#txt {
	grid-area: txt;
}

#foto1 {
	grid-area: foto1;
}

#foto2 {
	grid-area: foto2;
}

#foto3 {
	grid-area: foto3;
}

#foto4 {
	grid-area: foto4;
}

#foto5 {
	grid-area: foto5;
}

#foto6 {
	grid-area: foto6;
}

#foto7 {
	grid-area: foto7;
}

#foto8 {
	grid-area: foto8;
}

#werk p {
  font-size: 26px;
  margin-top: 5%;
}

#werk hr {
  opacity: 0.2;
}

#werk img {
  width: 100%;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
